
.locations {
    display: flex;
    flex-direction: row;
}

.locations.location {
    background: #d8d8d8;
    padding: 15px;
    margin: 15px;
    border-radius: 35px;
    border: 1px solid #bbb;
    cursor: pointer;
}

.locations.location.active {
    background: #5ad75a;
}

.locations.location.active:hover {
    background: #3ca;
}

.locations.location:hover {
    background: #aaa;
}