   <h1>Template Principal</h1>

   <nav>
      <a routerLink="hello-world"routerLinkActive="Active">Hello World</a>
      <a routerLink="data-binding"routerLinkActive="Active">Data Binding</a>
      <a routerLink="directives"routerLinkActive="Active">Directives</a>
      <a routerLink="customers"routerLinkActive="Active">Customers</a>
      <a routerLink="reactive-form"routerLinkActive="Active">Reactive Form</a>
      <a routerLink="template-form"routerLinkActive="Active">Template Form</a>
      <a routerLink="weather"routerLinkActive="Active">Weather</a>
      <a routerLink="pipes"routerLinkActive="Active">Pipes</a>
   </nav>

   <router-outlet></router-outlet>

   <p>Fim do Template Principal</p>

   <p>Posso acessar ao Data Binding? <input type="checkbox" [checked]="podeAcessar" (change)="alterarAcesso($event)"></p>
